In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pyautogui
import pandas as pd

In [3]:
import time

url="https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop"

driver = webdriver.Chrome()
driver.get(url)

# pyautogui.position()  


time.sleep(6)
pyautogui.moveTo(466,556)
pyautogui.click()

In [5]:
players=[]


wait = WebDriverWait(driver, 10)
next_button = wait.until(
    EC.element_to_be_clickable((By.XPATH, "//ul[@class='tm-pagination']/li[last()-1]/a")),
    message="Next button not clickable")

target_loc=next_button.location
driver.execute_script("window.scrollTo(arguments[0], arguments[1]);", target_loc['x'], target_loc['y']-700)


#25 players per page
nb_players=500
max_page=int(nb_players/25)

for page in range(max_page):
    for num in range(1,26):
        age_element = driver.find_element(By.XPATH, f'//*[@id="yw1"]/table/tbody/tr[{num}]/td[3]')
        age=age_element.text
        name=driver.find_element(By.XPATH,f'//*[@id="yw1"]/table/tbody/tr[{num}]/td[2]/table/tbody/tr[1]/td[2]/a')
        position=driver.find_element(By.XPATH,f'//*[@id="yw1"]/table/tbody/tr[{num}]/td[2]/table/tbody/tr[2]/td')
        club=driver.find_element(By.XPATH,f'//*[@id="yw1"]/table/tbody/tr[{num}]/td[5]/a/img')
        value=driver.find_element(By.XPATH,f'//*[@id="yw1"]/table/tbody/tr[{num}]/td[6]/a')

        nat_box=driver.find_element(By.XPATH,f'//*[@id="yw1"]/table/tbody/tr[{num}]/td[4]')
        nationalities=nat_box.find_elements(By.CLASS_NAME,"flaggenrahmen")
        nat_list=[]
        for nat in nationalities:
            nat_list.append(nat.get_attribute("title"))

        player=[
            name.text,
            position.text,int(age),
            ", ".join(nat_list),
            club.get_attribute("title"),
            float(value.text[1:-1])
        ]
        players.append(player)

    if page <max_page-1:
        next_button.click()
        wait.until(EC.staleness_of(next_button))
        next_button = wait.until(
            EC.element_to_be_clickable((By.XPATH, "//ul[@class='tm-pagination']/li[last()-1]/a")),
            message="Next button not clickable")
    else:
        break

In [6]:
# Let's load our data into a DataFrame

players_df=pd.DataFrame(players,columns=["Name","Position","Age","Nationalities","Club","Market_value_(m€)"])
players_df

,Name,Position,Age,Nationalities,Club,Market_value_(m€)
0,Leny Yoro,Centre-Back,19,"France, Cote d'Ivoire",Manchester United,55.0
1,Kobbie Mainoo,Central Midfield,19,"England, Ghana",Manchester United,55.0
2,Nuno Mendes,Left-Back,22,Portugal,Paris Saint-Germain,55.0
3,Micky van de Ven,Centre-Back,23,Netherlands,Tottenham Hotspur,55.0
4,Vitinha,Central Midfield,24,Portugal,Paris Saint-Germain,55.0
...,...,...,...,...,...,...
495,Alex Scott,Central Midfield,21,"England, Guernsey",AFC Bournemouth,20.0
496,Javi Guerra,Central Midfield,21,Spain,Valencia CF,20.0
497,Dango Ouattara,Left Winger,22,Burkina Faso,AFC Bournemouth,20.0
498,Vanderson,Right-Back,23,Brazil,AS Monaco,20.0
499,Rodrigo Muniz,Centre-Forward,23,Brazil,Fulham FC,20.0

In [7]:
players_df.groupby("Club").sum()[["Market_value_(m€)"]].sort_values("Market_value_(m€)",ascending=False)

                               Market_value_(m€)
Club
Chelsea FC                                 631.0
Manchester United                          595.0
Tottenham Hotspur                          573.0
Bayern Munich                              564.0
Liverpool FC                               549.0
...                                          ...
Botafogo de Futebol e Regatas               27.0
Al-Orobah FC                                25.0
Inter Miami CF                              25.0
SS Lazio                                    25.0
CR Flamengo                                 23.0

[75 rows x 1 columns]

In [8]:
players_df.to_csv("players_mv_2024.csv")